<h2>Edit: <%= @goal.content %></h2>

<form action="/goals/<%=@goal.id %>" method="POST">
  <label> Edit your goal's content </label>
  <input type="text" name="content" value="<%=@goal.content %>"> 
  <br>
  <label> Edit your by when</label>
  <input type="text" name="by_when" value="<%=@goal.by_when %>"> 
  <br>
  <input type="submit" value="Update">
</form>