<h1>Edit <%= @goal.content %></h1>

<form action="/goals/<%=@goal.id %>" method="POST">
  <label> Edit your goal's content </label>
  <input type="text" name="content" value="<%=@goal.content %>"> 
  <br>
  <input type="submit" value="Update">
</form>