<% if logged_in? && @goal.user.username == current_user.username %>
    <h1>Update Goal</h1>

    <form action=<%="/goals/#{@goal.id}"%> method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="content">Edit your goal's content: </label>
    <br>
    <input type="text" name="content" id="content" value="<%= @goal.content %>">
    <input type="submit" id="submit" name="submit" value="Edit Goal"/>
    </form>
<% end %>