<% if logged_in? %>
<h2>Hello, <%= @user.username %></h2>
    <form action="/goals" method="POST">
    <label for="content">Content:   
    <input type="text" name="content" id="content"><br>
    <label for="by_when">By When: 
    <input type="date" name="by_when" id="by_when"><br>
    <input type="submit" name="Submit" id="submit">
    </form>

<% else %>
<h2>Please log in to make your goals!</h2>
<% end %>
