<% if logged_in? %>
<h2>Hello, <%= @user.username %></h2>
    <form action="/goals" method="POST">
    <label for="content">Content: 
    <input type="text" name="content" id="content"><br>
    <input type="submit" name="Submit" id="submit">
    </form>

<% else %>
<h2>Please log in to make your goals!</h2>
<% end %>
