<h2> <%= @goal.content %></h2>

<form action=<%="/goals/#{@goal.id}/delete"%> method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Goal" id="Delete goal">
</form>

    <p><a href=<%="/goals/#{@goal.id}/edit"%>>Edit</a></p>

