<!doctype html>
<html>
  <head>
    <title>Track your goals</title>
  </head>
  <body>

    <div class="container">
    <h1>Welcome to Your Goals!</h1>
      
    </div>
    <%= yield %>
  </body>
</html>